// viewports
$mobile: 768px;
$tablet: 1024px;
$sm: 1250px;

// colors

$color-primary: #f0f0f0;
$color-gray: #ccc;
$color-background: #e0e0e0;
$hovered-color: #353232;
$modal-background: rgba(0, 0, 0, 0.5);
